<div class="new_show_form fixthis">

	<h3 class="my_profile">BINGER PROFILE</h3>

	<p class="my_profile_name"><%= @user.name %></p>


</div>

<h3>MY SHOWS</h3>

<div class="shows">
	<% @user.tvshows.each do |tvshow| %>
		<%= link_to(image_tag(tvshow.poster, :class => 'thumbnail'), tvshow) %>
	<% end %>
</div>

