<div class="new_show_form">

<h3>MY PROFILE</h3>

<p><%= @user.name %></p>
<p><%= @user.email %></p>

<p><%= @user.avatar %></p>

<h3>MY SHOWS</h3>

<p>
	<% @user.tvshows.each do |tvshow| %>
		<%= link_to(image_tag(tvshow.poster, :class => 'thumbnail'), tvshow) %>
	<% end %>
</p>

</div>