<div class="new_show_form fixthis">

	<h3>MY PROFILE</h3>

	<p><%= @user.name %></p>
	<p><%= @user.email %></p>

	<p><%= @user.avatar %></p>

</div>

<h3>MY SHOWS</h3>

<div class="shows">
	<% @user.tvshows.each do |tvshow| %>
		<%= link_to(image_tag(tvshow.poster, :class => 'thumbnail'), tvshow) %>
	<% end %>
</div>

