
<div class="database">
<h3>TV SHOWS ALREADY IN OUR DATABASE</H3>

<% @tvshows.each do |tvshow| %>
  <ul>
    <li><%= image_tag(tvshow.poster, :class => 'thumbnail') %></li>
    <li><%= link_to(tvshow.title, tvshow) %></li>
    <li>Premiere Date: <%= tvshow.premiere_date.strftime('%A %B %d %Y') if tvshow.premiere_date %></li>
    <li>Plot: <%= tvshow.plot %></li>
  </ul>
<% end %>
<div>