@import url(http://fonts.googleapis.com/css?family=Oswald:700);
@import url(http://fonts.googleapis.com/css?family=Ultra);
@import url(http://fonts.googleapis.com/css?family=Bitter:700);

body {
	background-color: #444444;
	/*background-image: url(app/assets/images/"concrete_wall-11668")*/
	width: 100%;
	height: 100%;
	position: absolute;
}

.signup {
	background-color: white;
	padding: 10px;
	margin: 5px;
	font-size: 11px;
}

.signedin {
	background-color: white;
	padding: 10px;
	margin: 5px;
	font-size: 11px;
}

.intellinav {
	height: 20px;
	width: 300px;
	/*background-color: #ffcc00;*/
	padding: 5px;
	font-family: Helvetica;
	color: #444444;
	position: absolute;
	top: 5px;
	right: -151px;

}

.links {

}

div.nav {      
	list-style-type: none;
	margin-left: 0; 
	width: 70px;
	height: 800px; 
	display:inline-block;
	position:relative;
	font-family: Helvetica;
	font-size: 9px;
	text-align: center;
	background-color: white;
	max-height: 630px;
	color: white;
	width: 70px;
} 

div.nav a { 
text-decoration: none; 
color: #d4d4d4;
}

div.nav i a {
	color: #d4d4d4;
}

div.nav a:hover, div.nav a:hover i { 
    color: #ffcc00;
}


.thumbnail {
	max-width: 300px;
	max-height: 300px;
}


.binger {
	/*font-family: 'Ultra', serif;*/
	font-family: 'Bitter', serif;
	color: white;
	width: 70px;
	background-color: #ffcc00;	
}

.binger span {
display: inline-block;
transform: rotate(-90deg);
transform-origin: center;
line-height: 3.7em;
font-size: 27px;
letter-spacing: 5px;
margin: 0 -10px 0 0;
text-align: center;
height: 186px;
}

.database {
	width: 500px;
	height: auto;
	margin-left: 100px;
	margin-top: -588px;
	text-align: left;
	/*display: inline-block;*/
	font-family: Helvetica;
	font-size: 12px;
	color: white;
}

.user_password {
	position: absolute;
	top: 50px;
	right: 50px;
	width: 100px;
	font-family: Helvetica;
	font-size: 10px;
}

.new_user_form {
	position: absolute;
	top: 20px;
	right: 25px;
	width: 100px;
	font-family: Helvetica;
	font-size: 10px;
}

.new_show_form {
	position: absolute;
	top: 20px;
	left: 100px;
	top: 250px;
	width: 100px;
	font-family: Helvetica;
	font-size: 12px;
	margin-bottom: 50px;
	color: white;
}

.edit_delete_buttons {
	background-color: white;
	padding: 5px;
	margin: 2px;
	font-size: 11px;
}

.edit_delete_buttons :hover {
	background-color: #ffcc00;
}

.welcome_message {
	font-family: 'Bitter', serif;
	color: white;
	margin-left: 355px;
	display: inline-block;
	font-size: 52px;
}

.edit_form {
	position: absolute;
	top: 20px;
	left: 100px;
	top: 250px;
	width: 100px;
	font-family: Helvetica;
	font-size: 12px;
	margin-bottom: 50px;
	color: white;
}




